<h2>Your Order</h2>

<table>
  <tr>
    <th>Customer</th>
    <td><%= @order.customer_id %></td>
  </tr>
  <tr>
    <th>Status:</th>
    <td><%= @order.status %></td>
  </tr>
  <tr>
    <th>Items:</th>
    <td><%= @order.order_items.count %></td>
  </tr>
  <tr>
    <th>Total:</th>
    <td><%= print_price @order.total %></td>
  </tr>
  <tr>
    <th>Items</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Stock</th>
    <th>Unit Price</th>
    <th>Subtotal</th>
  </tr>

  <% @order.order_items.each do |item| %>
    <%= render "order_items/order_item_row", item: item %>
  <% end %>
</table>
<br />
<%= link_to "Empty Cart", @order, comfirm: "Are you sure?", 
  method: :delete %>
