<h2>Create a New Address</h2>

<%= form_for @address do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :line1, "Line1*" %><br />
    <%= f.text_field :line1 %>
  </p>
  <p>
    <%= f.label :line2 %><br />
    <%= f.text_field :line2 %>
  </p>
  <p>
    <%= f.label :city, "City*" %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state, "State*" %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip, "Zip*" %><br />
    <%= f.text_field :zip %>
  </p>
  <p><%= f.submit %></p>
<% end %>
