<!DOCTYPE html>
<html>
  <head>
    <title>FoodWorks - Products: <%= controller.action_name %></title>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <p class="flash">
      <%= flash.notice %>
      <%= flash.alert %>
    </p>
    <div id="account">
      <% if current_user %>
        <span>Welcome, <%= current_user.name %></span>
        <%= link_to "logout", logout_path, id: "logout" %>
      <% else %>
        <%= link_to "login", login_path, id: "login" %>
      <% end %>
    </div>
    <div class="wrapper">
      <div class="header">
        <h1>FoodWorks</h1>
        <h2>Your Online Grocery</h2>
      </div>

      <div class="sidebar">
      </div>

      <div class="main">
        <%= yield %>
      </div>

      <div class="footer">
        FoodWorks Online Grocery
      </div>
    </div>
  </body>
</html>
